.user__avatar {
  width: 15rem;
}

.user__name {
  font-size: 3rem;
  font-weight: 400;
  color: var(--neutral-color);
  margin: 2.4rem 0 1.6rem 0;
}
.user__dividing-line {
  width: 50px;
  border-bottom: 0.3rem solid var(--neutral-color);
}